body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #666;
	background-color: #fff;
}

/* General
------------------------------------------------------ */
.clear {
	clear: both;
}

.fl {
	float: left;
}
.fr {
	float: right;
}
/* nav
------------------------------------------------------ */
.navbar {
	margin-bottom: 5px;
	overflow: visible;
}

/* Main Page date
------------------------------------------------------ */
.date {
	text-align: center;
	width: 130px;
	//color: #fff;
	//background-color:#666;
	padding: 10px;
	font-size: 12px;
	height: 100%;
	background-color: #fff;
}
.date .day {
	font-weight: bold;
	font-size: 16px;
}
.todaysdate {
	color: #fff;
	background: rgb(203,96,179); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(203,96,179,1) 0%, rgba(173,18,131,1) 50%, rgba(222,71,172,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,96,179,1)), color-stop(50%,rgba(173,18,131,1)), color-stop(100%,rgba(222,71,172,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(203,96,179,1) 0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(203,96,179,1) 0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(203,96,179,1) 0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(203,96,179,1) 0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */
}
.dateheader {
	//background-color: #FFBB45;
}
.weekendsdate {
	opacity: 0.25;
}
.username {
	/*float: left;*/
	line-height: 40px;
	text-align: center;
	margin: 0 4px 0 0;
	width: 220px;
	cursor: pointer;
	color: #fff;
	//background-color:#666;
}
.allusers {
	padding-left: 152px;
	border-bottom: 1px dotted #666;
}
.tasks {
	padding: 5px;
	background-color: #FFF;
	cursor: pointer;
	margin-bottom: 2px;
	width: 220px;
	position: relative;
	box-shadow: 0px -5px 25px -10px #CCC;
	-moz-box-shadow: 0px -5px 25px -10px #CCC;
  	-webkit-box-shadow: 0px -5px 25px -10px #CCC;
}
.matrix-row {
	border-bottom: 1px solid #ddd;
	padding: 5px 0 5px 0;
}
.matrixdetails {
	display: none;
	font-size: 12px;
	//background-color: #F5F5F5;
	margin: 5px -5px -5px -5px;
	padding: 5px;
	font-weight: normal;
}
.alltasks {
	vertical-align: top;
	padding: 15px;
	border-left: 1px solid #f3f3f3;
	padding: 0 15px 0 15px;
}
.task-addition {
	color:#ddd;
	cursor:pointer;
	margin: 10px 0 0 0;
	border: 1px dashed #ddd;
}
.task-addition:hover {
	border: 1px dashed #ddd;
	background-color: #EBF2E9;
	color:#666;
}
.newtaskform {
	display:none;
}
.totalend {
	display: block;
	line-height: 15px;
	text-align: right;
	padding-right: 4px;
	font-size: 11px;
	//background:url("../img/avail-meter.jpg") no-repeat;
}
.booked {
	border-top:1px solid green;

}
.underbooked {
	border-top:1px solid orange;

}
.overbooked {
	border-top:1px solid red;
}
.matrixhours {
	text-align: right;
	display: inline-block;
	background: #ddd;
	font-size: 10px;
	padding: 0 4px;
	border-radius: 5px;
}
.matrixrows {
	border-bottom: 6px solid #fff;
}
.removetask {
	background-color: #fff;
}
/*
.defaulttableview tr:nth-child(odd)		{ background-color:#f6f6f6; }
.defaulttableview tr:nth-child(even)		{ background-color:#fff; }
*/

.container-fluid {
	padding-right: 5px;
	padding-left: 5px;
}



.projecthours {
	border:1px solid #ddd;
	text-align: center;
	border-radius: 5px;
	font-size: 24px;
	margin-bottom: 5px;
}
.projecthours .content {
	padding: 10px;
}
.hrsspent {
	font-size: 18px;
	position: relative;
	top: -10px;
}
.totalhrs {
	position: relative;
	top: 10px;
}
.hrsannotation {
	font-size: 10px;
}
.projecthours .header {
	background-color: #f7f7f7;
	padding: 10px;
	text-align: left;
	border-radius: 5px;
	margin: 0;
}
.smallcontent {
	padding: 5px;
	font-size: 14px;
}
#loadingtxt {
	background: #702a68;
	position: fixed;
	padding: 10px;
	color: #fff;
	top: 50%;
	left: 50%;
}
.matrixtaskname {
	width: 180px;
	font-size: 16px;
	padding: 5px 0;
}
.matrixtaskname a {
	color: #666;
}
.taskhoursbig {
	display: block;
	float: right;
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	color: #08C;
}
#skill-report td.content {
	text-align: center;
}
#skill-report td.content div {
	cursor: pointer;
}
#skill-report td.content div:hover {
	border: 1px dashed purple;
}
.thetaskcomment {
	font-size: 12px;
	line-height: 13px;
	border-top: 1px solid #DDD;
	padding: 5px 0 0 0;
	margin: 5px 0 0 0;
}
.usertaskstatus-done {
	border-left: 2px solid green;
	background-color: #EEE;
	font-weight: normal;
}
.fakecheckbox {
	width: 10px;
	height: 10px;
	display: block;
	border: 1px solid #666;
	background-color: #FFF;
}
.fakecheckboxfilled {
	background: url("../img/checkbox_filled.gif") no-repeat;
}
.tasks .taskstatuscontainer {
	line-height: 10px;
	position: absolute;
	top: 16px;
	right: -3px;
}
.tasks .taskstatuscontainer span{
	margin: 0 0 0 5px;
	font-size: 12px;
}
.navbar-inner-matrix {
	min-height: 30px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #333;
	//background: url(../img/cream_pixels.png);
	//border-bottom: 1px solid #EEE;
}
.navbar .nav>li>a {
	float: none;
	padding: 5px 10px 10px;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}
.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
	color: #333;
	text-decoration: none;
	background-color: #FFF;
}
.taskstatus-Closed {
	background-color: #F6FCF5;
}
.taskstatus-Cancelled {
	background-color: #FFE3E3;
}
#modalloader {
	display: none;
}
#loading {
	position: fixed;
	background-color: rgba(54, 25, 25, .5);
	width: 100%;
	height: 100%;
	display: block;
	z-index: 9999;
	display: none;
}
#headermainlogo {
	background: #fff;
	padding: 10px;
}
#header-login {
	color: #fff;
	padding: 5px;
}
#header-login a {
	color: rgb(168, 226, 255);
	text-decoration: underline;
}
.navbar .brand {
	display: block;
	float: left;
	padding: 5px 20px 10px;
	margin-left: -20px;	
	font-size: 20px;
	font-weight: 200;
	color: #777;
	text-shadow: 0 1px 0 #000;
}
.allocated-hours-con select {
	margin: 0 0 5px 0;
}
.dark {
	color: #333;
}
.light {
	color: #fff;
}